<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% block navigation %}
                {% endblock navigation %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %} {% endblock content %}
    </main>
</body>
</html>
