{% extends 'base.html' %}

{% block navigation %}
{% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'home' %}">Accounts</a></li>
                <li><a href="{% url 'category_list' %}">Category List</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'create_receipt' %}">Add Receipt</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
{% endblock navigation %}

{% block content %}
        <div>
            <h1>Sign-up</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Signup</button>
                </form>
        </div>
{% endblock content %}
