{% extends 'base.html' %}

{% block navigation %}
{% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'home' %}">Accounts</a></li>
                <li><a href="{% url 'category_list' %}">Category List</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
                <li><a href="{% url 'create_receipt' %}">Add Receipt</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
{% endblock navigation %}

{% block content %}
<h1>My Receipts</h1>
<table>
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
        {% for items in receipt_list.all %}
        <tr>
            <td> {{ items.vendor }} </td>
            <td> {{ items.total }} </td>
            <td> {{ items.tax }} </td>
            <td> {{ items.date|date:"m/j/y" }} </td>
            <td> {{ items.category }} </td>
            <td> {{ items.account }} </td>
        </tr>
        {% endfor %}
</table>

{% endblock content %}
